<a href="https://colab.research.google.com/github/Borson277/Sell_prediction-/blob/main/Sell_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
import pandas as pd
df = pd.read_csv('/content/customer_purchase_sample.csv')
df.head()

   Age  Salary  Buy
0   56   80725    1
1   46  144981    1
2   32   99654    1
3   25  134346    0
4   38   82435    1

In [15]:
df.shape

(30, 3)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     30 non-null     int64
 1   Salary  30 non-null     int64
 2   Buy     30 non-null     int64
dtypes: int64(3)
memory usage: 852.0 bytes

In [18]:
df.describe()

             Age         Salary        Buy
count  30.000000      30.000000  30.000000
mean   39.866667   81484.000000   0.633333
std    11.512312   39788.455046   0.490133
min    19.000000   18890.000000   0.000000
25%    32.250000   51206.250000   0.000000
50%    40.500000   82119.000000   1.000000
75%    46.750000  116725.750000   1.000000
max    59.000000  144981.000000   1.000000

In [21]:
df.isnull().sum()

Age       0
Salary    0
Buy       0
dtype: int64

In [22]:
df.drop_duplicates()

    Age  Salary  Buy
0    56   80725    1
1    46  144981    1
2    32   99654    1
3    25  134346    0
4    38   82435    1
5    56   71886    1
6    36   81803    1
7    40   46551    0
8    28  131216    0
9    28   26394    0
10   41   84092    1
11   53   18890    0
12   57   56606    1
13   41  102313    1
14   20   23792    0
15   39   83148    1
16   19  139243    0
17   41  135174    1
18   47  139358    1
19   55   63555    1
20   19   32159    0
21   38  125510    1
22   50  121530    1
23   29   95077    0
24   39   50920    1
25   42   34457    0
26   44   93953    1
27   59   67995    1
28   45   24692    0
29   33   52065    1

In [23]:
#Segregate the data set

x = df.iloc[:,:-1]

x.head()

   Age  Salary
0   56   80725
1   46  144981
2   32   99654
3   25  134346
4   38   82435

In [24]:
y = df.iloc[:,-1]

y.head()

0    1
1    1
2    1
3    0
4    1
Name: Buy, dtype: int64

In [25]:
#split the data set

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

x_train = sc.fit_transform(x_train)

x_test = sc.transform(x_test)

In [27]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(random_state=0)

model.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [28]:
age = int(input("Enter the age: "))
salary = int(input("Enter the salary: "))
newCust = [[age,salary]]
result = model.predict(sc.transform(newCust))

if result == 1:
  print("Customer will buy")
else:
  print("Customer will not buy")

Enter the age: 39
Enter the salary: 55000
Customer will buy

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [29]:
y_pred = model.predict(x_test)

In [30]:
from sklearn.metrics import confusion_matrix,accuracy_score

cm = confusion_matrix(y_test,y_pred)
print("Confusion Matrix: ")
print(cm)

print("Accuracy of the model: {0}%".format(accuracy_score(y_test,y_pred)*100))

Confusion Matrix:
[[0 2]
 [1 5]]
Accuracy of the model: 62.5%